* {
    box-sizing: border-box;
}

.head {
	text-align: center;
	background-color: rgb(24, 84, 203);
	margin-top: 20%;
	width: 100%;
	height: 60px;
	border-radius: 5px;

}

h3 {
	color: white;
	padding-top: 20px;
	font-weight: bold;
}

textarea {
	margin-top: 5%;
	display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
}

.trash {
	float: right;
}

input {
	display: inline;
}
p {
	display: inline;
	padding-left: 5%;
}

#contlista {
	margin-top: 5%;

}

.tachado {
  text-decoration: line-through;
}

